/*整站样式*/
html,body,dl,dd,img,form,div,ul,ol,li,h1,h2,h3,h4,h5,h6,p{margin:0;padding:0;border:0;}
body{font-size: 12px;font-family: '微软雅黑', Arial;}
ul,ol,li{ list-style-type:none;}
img{border:0;vertical-align:middle}
select,input,select{vertical-align:middle;outline: none;}
table{border-collapse:collapse;border-spacing:0}
iframe{border:none;}
a:link{color:#666666;text-decoration:none;}
a:visited{color:#666666;text-decoration:none;}
a:hover{color:#0093ff;text-decoration:none;}
a:active{color:#0093ff;text-decoration:none;}
.c{clear:both;font-size:0;line-height:0;height:0;visibility:visible;}
.h{display:none;visibility:visible;}
.wrap{border:0;padding:0;width:1200px;margin:0 auto;*zoom:1;}
.wrap:after{clear:both;content:"";display:table;}
.fix{*zoom:1;}
.fix:after{clear:both;content:"";display:table;}
.fl{float:left;}
.fr{float:right;}
.posr{position:relative;}
.btn{font-family:"宋体";font-weight:normal;}
.px20{height:20px;line-height:20px;}
/* 编辑器内容样式 凡是编辑器修改区域加上 */
.editor{line-height:24px;text-align:left;}
.editor p{text-indent:2em;}
.editor ol li{list-style-type:circle;margin-left:25px;}
.editor ul li{list-style-type:square;margin-left:25px;}
/* 分页样式 */
.page{text-align:center;margin-top:20px;}
.page a{display:inline-block;padding:5px 10px;margin-right:10px;color:#fff;border:1px solid #2eafbb;color:#2eafbb;}
.page a:hover{background-color:#2eafbb;color:#fff;}
.page a.now{background-color:#2eafbb;color:#fff;}

/* header */

.usericon{
    border-radius:50%;
    border:0;vertical-align:middle;
    width: 49px;
    height: 49px;
}

.userdata{
    border-color: #000;
    border-width: 1px;
    margin-top:-50px ;
    margin-left: 50px;
    width:200px;
    height:50px;
    background-color:#EAF2D3;
    font-family:"微软雅黑","黑体","宋体";
    font-size:12px;
    -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
            transform: translateY(10px);
    -webkit-transition: all .25s ease-out;
        -moz-transition: all .25s ease-out;
        -ms-transition: all .25s ease-out;
        -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
        -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
        -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
        -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
            box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}

.headsection{overflow:hidden;}

.section{overflow:hidden;}
.header{height:100px;}
.header h1{width:154px;}
.logo{padding-top:24px;}
.header .logo_text{width:163px;margin-top:24px;padding-left:5px;}
.top{text-align:right;color:#888888;padding-top:12px;*position:relative;*z-index:2;}
.top a{color:#888888;margin-left: 8px;}
.top .call{background: url("../img/sprite.png") no-repeat 0 0;display:inline-block;width:20px;height:16px;vertical-align:bottom;margin-right:4px;}
.top .call_tel{color:#15909c;}
.top .email{display:inline-block;width:18px;height:16px;background:url("../img/sprite.png") no-repeat -20px 0;vertical-align:bottom;margin-right:4px;}
.top .weixin{display:inline-block;width:18px;height:16px;background:url("../img/sprite.png") no-repeat -60px 0;vertical-align:bottom;margin-right:4px;}
.top .ewm{position:relative;z-index:10000;}
.top .ewm img{position:fixed;width:258;height:258;right:0;top:30px;border:1px solid #ddd;padding:4px;background:#fff;display:none;z-index:10000;}

.nav{margin-top:18px;position:relative;}
.nav li{float:left;padding-left:40px;}
.nav li a{font-size:14px;color:#000000;line-height:24px;display:inline-block;}
.nav .nav_icon{background:#15909c;height:1px;line-height:1px;display:inline-block;position:relative;top:-6px;*top:0px;}

.home_title{text-align:center;padding-top:50px;}

.function_tab{width: 1200px;margin: 60px auto 0;}
.function_tab .cyan{background: #43bcc7;opacity:0.8;filter:alpha(opacity=80)}
.function_tab .red{background: #de6764;opacity:0.8;filter:alpha(opacity=80)}
.function_tab .blue{background: #31a0e1;opacity:0.8;filter:alpha(opacity=80)}
.function_tab .purple{background: #6a8bd2;opacity:0.8;filter:alpha(opacity=80)}
.function_tab .green{background: #9ac047;opacity:0.8;filter:alpha(opacity=80)}
.function_tab .black{background: #000000;}
.function_tab .cyansel{background: #43bcc7;opacity:1;filter:alpha(opacity=100)}
.function_tab .redsel{background: #de6764;opacity:1;filter:alpha(opacity=100)}
.function_tab .bluesel{background: #31a0e1;opacity:1;filter:alpha(opacity=100)}
.function_tab .purplesel{background: #6a8bd2;opacity:1;filter:alpha(opacity=100)}
.function_tab .greensel{background: #9ac047;opacity:1;filter:alpha(opacity=100)}
.function_tab #function_ul{margin-right: -40px;}
.function_tab #function_li{float:left;width:1180px;height:800px;overflow:hidden;padding-left:20px;margin-right:20px;margin-bottom:20px;}

.input_filed{margin-left: 400px;margin-right: 400px;ali}

.news_tab{width: 1200px;margin: 60px auto 0;}
.news_tab ul{margin-right: -40px;}
.news_tab li{float:left;width:205px;height:70px;overflow:hidden;padding-left:20px;margin-right:20px;margin-bottom:20px;}
.news_tab h2{font-size:20px;color:#fff;font-weight:normal;padding-top:12px;}
.news_tab .eg{font-size:14px;color:#fff;text-transform: uppercase;padding-bottom:12px;font-family:Arial;}
.news_tab li:hover{opacity:1;filter:alpha(opacity=100)}
.news_tab li.sel{opacity:0.8;filter:alpha(opacity=80)}
.news_tab .cyan{background: #43bcc7;opacity:0.8;filter:alpha(opacity=80)}
.news_tab .red{background: #de6764;opacity:0.8;filter:alpha(opacity=80)}
.news_tab .blue{background: #31a0e1;opacity:0.8;filter:alpha(opacity=80)}
.news_tab .purple{background: #6a8bd2;opacity:0.8;filter:alpha(opacity=80)}
.news_tab .green{background: #9ac047;opacity:0.8;filter:alpha(opacity=80)}
.news_tab .black{background: #000000;}
.news_tab .cyansel{background: #43bcc7;opacity:1;filter:alpha(opacity=100)}
.news_tab .redsel{background: #de6764;opacity:1;filter:alpha(opacity=100)}
.news_tab .bluesel{background: #31a0e1;opacity:1;filter:alpha(opacity=100)}
.news_tab .purplesel{background: #6a8bd2;opacity:1;filter:alpha(opacity=100)}
.news_tab .greensel{background: #9ac047;opacity:1;filter:alpha(opacity=100)}



/* right nav */
#fp-nav{position:fixed;z-index:100000;top:50%;opacity:1;}
#fp-nav.right{right:17px;}
#fp-nav.left{left:17px;}
#fp-nav ul li,.fp-slidesNav ul li{display:block;width:14px;height:13px;margin:7px;position:relative;}
.fp-slidesNav ul li{display: inline-block;}
#fp-nav ul li a,.fp-slidesNav ul li a{display: block;position:relative;z-index:1;width:100%;height: 100%;cursor: pointer;text-decoration: none;}
#fp-nav ul li a.active span,.fp-slidesNav ul li a.active span {background: #ccc;}
#fp-nav ul li a span,.fp-slidesNav ul li a span{top:2px;left:2px;width:8px;height:8px;border:1px solid #ccc;background:rgba(0, 0, 0, 0);border-radius:50%;position:absolute;z-index:1;}


